<mat-toolbar
  color="primary"
  class="navbar-color mat-elevation-z8 p-0"
  style="z-index: 2"
>
  <button mat-icon-button aria-label="Dashboard" (click)="drawer.toggle()">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button>
    <mat-icon color="accent">search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon color="warn">favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon color="accent">more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" [opened]="!isMobile">
    <div class="drawer-items">
      <div class="user-container">
        <mat-icon class="user-avatar">person</mat-icon>
        <div class="user-name">
          <span>Username</span>
          <span>user&#64;gmail.com</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      @for (item of options; track $index) {
      <app-custom-button
        [text]="item.text"
        [icon]="item.icon"
        [url]="item.url"
      ></app-custom-button>
      }
    </div>
  </mat-drawer>

  <!--PAGES-->
  <mat-drawer-content class="drawer-content"
    ><router-outlet></router-outlet
  ></mat-drawer-content>
</mat-drawer-container>
