<div class="app-container">
  <mat-toolbar color="primary" class="navbar-color mat-elevation-z8 p-0" style="z-index: 2">
    <button mat-icon-button aria-label="Dashboard" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dashboard</span>
  </mat-toolbar>
  <mat-drawer-container fxFlex class="drawer-container">
    <mat-drawer #drawer mode="side" opened>
      <div class="drawer-items">
        <div class="user-container">
          <mat-icon class="user-avatar">person</mat-icon>
          <div class="user-name">
            <span>Username</span>
            <span>user&#64;gmail.com</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <button mat-button extended routerLink="/" routerLinkActive="selected no-border txt-bold" class="py-2 pr-5">
          <mat-icon class="mr-2">add</mat-icon>Home
        </button>
        <button mat-button extended routerLink="/about" routerLinkActive="selected no-border txt-bold" class="py-2 pr-5">
          <mat-icon class="mr-2">add</mat-icon>About
        </button>
      </div>
    </mat-drawer>
  
    <!--PAGES-->
    <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
    <!-- <div style="display: inline;">
      <router-outlet></router-outlet>
    </div> -->
  
  </mat-drawer-container>
</div>